.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App h1 {
  margin: 0;
}

footer {
  position: absolute;
  bottom:0;
  right:0;
  left: 0;
  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 40px 0 40px;

  color: #2c3e50;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
}
footer .mute-button {
  cursor: pointer;
  font-size: 2em;
}

#main {
  position: relative;
  transition: margin-left 0.5s;
  height: 100%;
  width: 100%;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  height: 100%;
  width: 0px;
  position: fixed;
  top:0;
  left:0;
  background: #d35400;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.drawer ul {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;

  color: white;
}
.drawer li {
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid white;
  padding: 20px 0 20px 40px;
  transition: 0.3s linear;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .drawer li {
    font-size: 12px;
  }

}

.drawer li:hover {
  background: #e67e22;
}
.drawer .drawer-icon {
  font-size: 25px;
  padding-right: 20px;
}


#close-drawer-button {
  color: white;
  font-size: 40px;
  border-radius: 80px;

  position: absolute;
  top:0;
  right:0;
  padding: 0px 14px 8px 14px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
#close-drawer-button:hover {
  background: #e67e22;
}